<div class="container">
    <div *ngIf="!noSongs; else elseBlock;" class="table-responsive mt-3">
        <div class="container mt-3 mb-3">
            <a href="/admin/create-presave" class="btn btn-secondary">Create New Presave</a>
        </div>
        <table class="table align-middle">
            <thead>
                <tr>
                    <th style="width: 3%" scope="col">#</th>
                    <th style="width: 5%" scope="col">Artwork</th>
                    <th style="width: 19%" scope="col">Song Name</th>
                    <th style="width: 23%" scope="col">Artist Name</th>
                    <th style="width: 30%" scope="col">Release Date</th>
                    <th style="width: 10%" scope="col">Presaves</th>
                    <th style="width: 15%"scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs; let i = index" [attr.data-index]="i">
                    <th scope="row">{{i + 1}}</th>
                    <td class="text-center"><img class="img-fluid w-75"  [src]="song.artworkUrl"></td>
                    <td>{{ song.songName }}</td>
                    <td>{{ artist.artistName }}</td>
                    <td>{{ song.releaseDate | date: "EEE • MMMM dd, YYYY" }}</td>
                    <td>{{ song.presaved.length }}</td>
                    <td class="">
                        <button class="btn text-secondary float-end" [routerLink]="['edit/', song._id]"><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button class="btn text-danger float-end" (click)="deleteSong(song._id)"><fa-icon [icon]="faDelete"></fa-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #elseBlock>No Songs Yet!</ng-template>
</div>
